/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../assets/fonts/poppins-300.woff2') format('woff2'),
    url('../assets/fonts/poppins-300.woff') format('woff');
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../assets/fonts/poppins-400.woff2') format('woff2'),
    url('../assets/fonts/poppins-400.woff2') format('woff');
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../assets/fonts/poppins-600.woff2') format('woff2'),
    url('../assets/fonts/poppins-600.woff') format('woff');
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../assets/fonts/poppins-700.woff2') format('woff2'),
    url('../assets/fonts/poppins-700.woff2') format('woff');
}
