html,
body,
#__nuxt {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.p-button.p-button--success {
  @apply bg-jungle-green rounded-lg py-4 px-5 transition !important;

  &:hover {
    @apply opacity-60;
  }

  .p-button-icon {
    font-size: 1.5rem;
    @apply mr-3;
  }
}

.p-button.p-button--danger {
  @apply bg-awesome rounded-lg py-4 px-5 transition !important;
}

.p-togglebutton {
  &.p-highlight {
    @apply !bg-primary-purple !text-white;

    .p-button-icon {
      @apply !text-white;
    }
  }

  .p-button-label {
    transition: none;
  }
}

.p-progressbar {
  @apply !bg-glossy-grape;

  .p-progressbar-value {
    @apply !bg-primary-purple;
  }
}
